
@use "dashboard.scss";

.login-panel {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;

	background-color: rgba(245, 245, 245, 0.6);

	> .login-form {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		width: 100%;
		max-width: 32rem;
		margin: 0 auto;
		padding: 2rem;
		border-radius: 2rem;

		background-color: var(--background);

		box-shadow: rgba(17, 12, 46, 0.15) 0 3rem 6rem 0;

		> .logo > img {
			width: auto;
			height: 4rem;
		}

		> .heading {
			> .title {
				margin-bottom: 0.5rem;
				font-size: 1.875rem;
				line-height: 2.5rem;
				font-weight: 700;
			}

			> .sub {
				> strong {
					color: var(--accent);
				}
			}
		}

		> .content {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		> .actions {
			display: flex;
			flex-direction: column;

			> .sq-btn {
				font-size: 1rem;
				padding: 1rem 2rem;
				border-radius: 1rem;
			}
		}
	}
}

.device-list {
	> .devices {
		> .device-info {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			margin-bottom: 1rem;
			border: 0.1rem solid var(--color);
			border-radius: 1rem;
			background-color: var(--background);
			overflow: hidden;

			> .info {
				display: flex;
				flex-direction: row;
				gap: 1rem;

				> .type {
					display: flex;
					flex-direction: row;
					align-items: center;
					flex-shrink: 0;
					gap: 0.5rem;

					min-width: 12rem;

					padding: 1rem;
					color: var(--text);
					background-color: var(--color);
					border-bottom-right-radius: 1rem;

					> .name {
						font-size: 0.85rem;
						font-weight: 600;
					}
				}

				> .info {
					margin: auto 0;

					> .name {
						font-size: 1.1rem;
						margin-right: 0.5rem;
					}
				}

				> .space {
					flex-grow: 1;
				}

				> .meta {
					display: flex;
					align-items: center;
					gap: 0.25rem;
					margin: auto 0;

					> .item {
						font-size: 0.8rem;

						> span {
							font-weight: 600;
						}

						> label {
							margin-right: 0.25rem;
						}
					}
				}

				> .sq-btn-group > button {
					border-radius: 0;

					&:first-child {
						border-bottom-left-radius: 1rem;
					}
				}
			}

			> .tags {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 0.5rem;

				margin: 0 1rem;
			}

			> .content {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
				gap: 1rem;

				margin: 0 1rem;
			}

			> .footer {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				padding: 0 1rem 0.5rem;

				> .flex-row {
					color: var(--text-secondary);
					font-size: 0.8rem;

					> .user-info {
						> .avatar {
							width: 1rem;
							height: 1rem;
						}

						> .name {
							font-size: 1em;
						}
					}
				}

				> .token {
					font-size: 0.75rem;
					color: var(--text-secondary);
				}
			}
		}
	}
}

.device-feature {
	display: inline-flex;
	flex-direction: column;
	gap: 1rem;

	border: 0.1rem solid var(--color);
	border-radius: 1rem;
	background-color: var(--background);
	overflow: hidden;

	> .info {
		display: flex;
		flex-direction: row;
		gap: 1rem;

		padding-right: 1rem;

		> .type {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-shrink: 0;
			gap: 0.5rem;

			min-width: 6rem;
			padding: 0.5rem 1rem;

			font-size: 0.85rem;
			color: var(--text);
			background-color: var(--color);
			border-bottom-right-radius: 1rem;

			> .name {
				font-size: 0.65rem;
				font-weight: 600;
			}
		}

		> .info {
			margin: auto 0;

			> .name {
				display: inline-block;
				font-size: 0.85rem;
			}
		}
	}

	> .content {
		display: grid;
		place-items: center;
		flex-grow: 1;
		margin: 0 1rem;
	}

	> .footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		padding: 0 1rem 0.5rem;

		> .screen-copyable-text {
			font-size: 0.75rem;
			color: var(--text-secondary);
		}
	}
}

.feature-button {
	position: relative;
	display: block;

	width: 100%;
	width: 8rem;
	height: 4rem;
	margin: 0 auto;

	background-color: var(--background-3);
	border-radius: 1rem;
	cursor: pointer;

	transition: background-color 0.3s cubic-bezier(0.16, 1, 0.3, 1);

	> .handle {
		position: absolute;
		display: block;

		top: 0.5rem;
		left: 0.5rem;
		bottom: 0.5rem;
		width: 2rem;
		border-radius: 0.5rem;

		background-color: var(--background);
		transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
	}

	&:active {
		> .handle {
			width: 2.5rem;
		}
	}

	&.activated {
		background-color: var(--accent);

		> .handle {
			left: calc(100% - 2.5rem);
		}

		&:active {
			> .handle {
				left: calc(100% - 3rem);
			}
		}
	}
}

.rotate-knob-component {
	position: relative;
	display: flex;
	flex-direction: column;

	width: fit-content;
	margin: 0 auto;
	overflow: hidden;
	user-select: none;
	cursor: n-resize;

	--border: rgb(225, 225, 225);

	&::after {
		content: "";
		position: absolute;
		left: 30px;
		right: 30px;
		height: 0;
		bottom: 0;

		border-top: 0.2rem solid var(--border);
	}

	> .knob-arc {
		> .background,
		> .value {
			stroke-width: var(--arc-width);
			stroke-linecap: round;
			fill: transparent;
		}

		> .background {
			stroke: var(--background-2);
		}

		> .value {
			stroke: var(--accent);
		}
	}

	> .thumb {
		--rotation: 0deg;

		position: absolute;
		display: block;

		left: var(--center-x);
		top: var(--center-y);

		transform: translate(-50%, -50%) rotate(var(--rotation));
		border-radius: 50%;
		border: 0.2rem solid var(--border);

		background-color: var(--background-1);

		&::before {
			content: "";
			position: absolute;
			display: block;

			top: 0.5rem;
			left: calc(50% - 0.2rem);
			width: 0.4rem;
			height: 1rem;

			background-color: var(--accent);
			border-radius: 0.5rem;
		}
	}

	> .value {
		position: absolute;
		display: block;

		left: var(--center-x);
		top: calc(var(--center-y) - 8px);

		font-size: 1.15rem;
		font-weight: 500;

		transform: translate(-50%, -50%);
	}

	&:hover {
		--border: rgb(210, 210, 210);

		> .thumb {
			background-color: var(--background-2);
		}
	}

	&.dragging {
		--border: var(--accent);

		> .thumb {
			background-color: var(--background-3);
		}
	}
}

.gauge-component {
	position: relative;
	display: flex;
	flex-direction: column;

	width: fit-content;
	margin: 0 auto;
	overflow: hidden;
	user-select: none;

	--border: rgb(225, 225, 225);

	> .gauge-arc {
		> .background,
		> .dangerous,
		> .value {
			stroke-width: var(--arc-width);
			stroke-linecap: round;
			fill: transparent;
		}

		> .background {
			stroke: var(--background-2);
		}

		> .dangerous {
			stroke: var(--osc-color-red);
			stroke-opacity: 0.2;
		}

		> .value {
			stroke: var(--accent);
		}
	}

	> .value {
		position: absolute;
		display: block;

		left: var(--center-x);
		top: calc(var(--center-y) - 8px);
		text-align: center;

		transform: translate(-50%, -50%);

		> .current {
			font-size: 1.15rem;
			font-weight: 700;
		}

		> .unit {
			font-size: 0.85rem;
			font-weight: 600;
		}
	}

	> .min-value,
	> .max-value {
		position: absolute;
		bottom: 0;

		font-size: 0.65rem;
		line-height: 1;
		color: var(--text-secondary);
	}

	> .min-value {
		left: 1.5rem;
	}

	> .max-value {
		right: 1.5rem;
	}

	> .hand {
		position: absolute;
		bottom: 0;

		left: calc(var(--center-x) - 0.1rem);
		top: var(--center-y);

		height: var(--radius);
		transform: translateY(-100%) rotate(var(--rotation));
		transform-origin: center bottom;
		width: 0;

		&::before {
			content: "";
			position: absolute;

			top: 0.5rem;
			left: -6px;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 6px 10.4px 6px;
			border-color: transparent transparent var(--accent) transparent;
		}
	}

	&.dangerous {
		> .gauge-arc > .value {
			stroke: var(--osc-color-red);
		}
	}
}

.trigger-conditions,
.trigger-actions {
	display: flex;
	flex-direction: column;

	border: 0.1rem solid var(--border);
	border-radius: 1rem;

	> .header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding: 1rem;
		border-bottom: 0.1rem solid var(--border);
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;

		> .title {
			> .content {
				font-weight: 600;
			}

			> .condition {
				position: relative;

				margin: 0 -0.5rem;
				padding: 0.25rem 0.5rem;
				border-radius: 0.5rem;

				font-size: 0.85rem;
				cursor: pointer;

				user-select: none;

				&::after {
					content: "\f303";
					margin-left: 0.5rem;
					font-family: "Font Awesome";
					font-size: 1em;
					font-weight: 400;
					text-rendering: auto;
					color: var(--text-secondary);
					-webkit-font-smoothing: antialiased;
				}

				&:hover {
					background-color: var(--background-1);
				}
			}
		}

		> .actions {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
		}
	}

	> .editor {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin: 1rem;

		> .empty-message {
			display: flex;
			flex-direction: column;
			align-items: center;
			
			padding: 2.5rem 1rem;
			text-align: center;

			> .message {
				font-weight: 600;
			}

			> .content {
				font-size: 0.8rem;
				white-space: normal;
			}

			> .actions {
				display: flex;
				flex-direction: row;
				justify-content: center;

				gap: 0.5rem;
				margin-top: 0.5rem;
			}
		}
	}
}

.trigger-group {
	display: flex;
	flex-direction: column;

	border: 0.1rem solid var(--border);
	border-radius: 1rem;

	> .header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		border-bottom: 0.1rem solid var(--border);
		border-radius: 1rem;
		background-color: var(--background-1);

		> .title {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5rem;

			margin-left: 1rem;

			> icon {
				width: 1.5rem;
				margin-right: 0.5rem;
				font-size: 1.25rem;
			}

			> .content {
				font-size: 0.85rem;
				font-weight: 600;
			}

			> .condition {
				position: relative;

				padding: 0.25rem 0.5rem;
				border-radius: 0.5rem;

				font-size: 0.85rem;
				cursor: pointer;

				user-select: none;

				&::after {
					content: "\f303";
					margin-left: 0.5rem;
					font-family: "Font Awesome";
					font-size: 1em;
					font-weight: 400;
					text-rendering: auto;
					color: var(--text-secondary);
					-webkit-font-smoothing: antialiased;
				}

				&:hover {
					background-color: var(--background-2);
				}
			}
		}

		> .actions {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;

			> .sq-btn,
			> .sq-btn-group > .sq-btn {
				&:first-child {
					border-top-left-radius: 1rem;
					border-bottom-left-radius: 1rem;
				}

				&:last-child {
					border-top-right-radius: 1rem;
					border-bottom-right-radius: 1rem;
				}
			}
		}
	}

	> .editor {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin: 1rem;

		> .empty-message {
			display: flex;
			flex-direction: column;

			text-align: left;

			> .message {
				font-weight: 600;
				font-size: 0.85rem;
			}

			> .content {
				font-size: 0.75rem;
				white-space: normal;
			}

			> .actions {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;

				gap: 0.5rem;
				margin-top: 0.5rem;

				> .sq-btn {
					min-height: unset;
					font-size: 0.65rem;

					> icon {
						font-size: 0.85rem;
					}
				}
			}
		}
	}
}

.trigger-item {
	display: flex;
	flex-direction: column;

	border: 0.1rem solid var(--border);
	border-radius: 1rem;

	> .header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		border-bottom: 0.1rem solid var(--border);
		border-radius: 1rem;
		background-color: var(--background-1);

		> .title {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5rem;

			margin-left: 1rem;

			> icon {
				width: 1.5rem;
				margin-right: 0.5rem;
				font-size: 1.25rem;
			}

			> .content {
				font-size: 0.85rem;
				font-weight: 600;
			}

			> .condition {
				position: relative;

				padding: 0.25rem 0.5rem;
				border-radius: 0.5rem;

				font-size: 0.85rem;
				cursor: pointer;

				user-select: none;

				&::after {
					content: "\f303";
					margin-left: 0.5rem;
					font-family: "Font Awesome";
					font-size: 1em;
					font-weight: 400;
					text-rendering: auto;
					color: var(--text-secondary);
					-webkit-font-smoothing: antialiased;
				}

				&:hover {
					background-color: var(--background-2);
				}
			}
		}

		> .actions {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;

			> .sq-btn {
				border-radius: 1rem;
			}
		}
	}

	> .editor {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;

		margin: 1rem;

		> .value-wrapper {
			grid-column: 1 / 3;
		}
	}
}

.screen-info {
	margin-bottom: 16rem;
}
