
@import "dashboard.scss";

.login-panel {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;

	background-color: rgba(245, 245, 245, 0.6);

	> .login-form {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		width: 100%;
		max-width: 32rem;
		margin: 0 auto;
		padding: 2rem;
		border-radius: 2rem;

		background-color: var(--background);

		box-shadow: rgba(17, 12, 46, 0.15) 0 3rem 6rem 0;

		> .logo > img {
			width: auto;
			height: 4rem;
		}

		> .heading {
			> .title {
				margin-bottom: 0.5rem;
				font-size: 1.875rem;
				line-height: 2.5rem;
				font-weight: 700;
			}

			> .sub {
				> strong {
					color: var(--accent);
				}
			}
		}

		> .content {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		> .actions {
			display: flex;
			flex-direction: column;

			> .sq-btn {
				font-size: 1rem;
				padding: 1rem 2rem;
				border-radius: 1rem;
			}
		}
	}
}
